name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php-versions }} - ${{ matrix.dependency-version-strategy }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.3', '8.4']
        dependency-version-strategy: [ 'latest', 'lowest']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          tools: composer:v2
          coverage: none

      - name: Check PHP Version
        run: php -v

      - name: Install dependencies (latest)
        if: matrix.dependency-version-strategy == 'latest'
        run: |
          composer update --ignore-platform-reqs --quiet

      - name: Install dependencies (lowest)
        if: matrix.dependency-version-strategy == 'lowest'
        run: |
          composer update --prefer-lowest --ignore-platform-reqs --quiet

      - name: Run PHPUnit unit tests
        run: composer test
